<main class="preloader loading">
  <div class="hit-progress-holder center">
    <div class="hit-progress">
      <div class="row">
        <div class="col s3 white-text messages">
          <p>Hint status bar</p>
          <p>2 more for hint</p>
          <p>1 more for hint</p>
          <p>Hint unlocked</p>
        </div>
        <div class="col s9 progress-show">
          <div class="row">
            <div class="col s4">
              <div class="progress">
                <div class="determinate"></div>
              </div>
            </div>
            <div class="col s4">
              <div class="progress">
                <div class="determinate"></div>
              </div>
            </div>
            <div class="col s4">
              <div class="progress">
                <div class="determinate"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="start-btn" style="display: none"></div>
  <canvas class="z-depth-4" id="game-holder" width="900" height="450"></canvas>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div id="mute-btn">Mute</div>
</main>


<div id="questions-modal" class="modal">
  <div class="modal-content">
    {{#each questions}}
      <div class="question" id= {{this.id}}>
        <h5>{{this.title}}</h5>

        <div class="options">
          {{#each this.options}}
            <p>
              <input name="{{../id}}" type="radio" value="{{this.value}}" id="{{../id}}-{{@index}}" />
              <label for="{{../id}}-{{@index}}">{{this.label}}</label>
            </p>
          {{/each}}
        </div>
        <span class="hint hide">{{this.hint}}</span>
      </div>
    {{/each}}
  </div>
  <div class="modal-footer">
    <div class="center">
      <button type="button" id="questionClose" name="button" class="btn waves-effect waves-light red" disabled>Close</button>
      <button type="button" id="questionSubmit" name="button" class="btn waves-effect waves-light green" disabled>Submit</button>
    </div>
  </div>
</div>
